<div class="container main-container animated fadeIn fast">
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <label>Buscar:</label>
                <input [(ngModel)]="buscar" class="form-control" type="text" name="buscar" placeholder="Buscar una pelicula" (keyup.enter)="buscarPelicula()">
            </div>
        </div>
    </div>

    <br>
    <div class="row animated fadeIn fast">
        <div class="card-columns">
            <div class="card" *ngFor="let pelicula of peliculas">
                <img [src]="pelicula | peliculaImagen" class="card-img-top" [alt]="pelicula.original_title">
                <div class="card-body">
                    <h5 class="card-title">{{pelicula.original_title}}</h5>
                    <p class="card-text text-justify">{{pelicula.overview | slice:0:250}}...</p>
                    <button 
                    [routerLink]="['/pelicula', pelicula.id, 'buscar', buscar ]" 
                    class="btn btn-outline-primary btn-block">Ver mas..</button>
                </div>
            </div>
        </div>
    </div>

</div>